$light-indigo: #7158e2;
$purple : #8e44ad;

.color-indigo{
    color: $light-indigo;
}

.color-purple{
    color: $purple;
}
.bg-indigo{
    background-color: #7158e2;
}
.bg-purple{
    background-color: #8e44ad;
}