$font-10 : 10px;
$font-12 : 12px;
$font-14 : 14px;
$font-16 : 16px;
$font-20 : 20px;

.font-10{
    font-size: $font-10;
}
.font-16{
    font-size: $font-16;
}
.font-14{
    font-size: $font-14;
}
.font-12{
    font-size: $font-12;
}
.font-20{
    font-size: $font-20;
}